.pp-key {
  background-color: rgb(252, 255, 255);
  border: 1px solid black;
  width: 50px;
  height: 200px;
}
.pp-key span {
  color: red;
}
.pp-key--black {
  background-color: black;
  height: 100px;
  /* position: absolute; */
}
.pp-key:hover {
  background-color: aquamarine;
  cursor: pointer;
}
